src/wsdl/localhost_8081/ws.soap.cpf/WsSoapCpf.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://cpf.soap.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cpf.soap.ws/">

<xs:element name="consulta" type="tns:consulta"/>

<xs:element name="consultaResponse" type="tns:consultaResponse"/>

<xs:complexType name="consulta">
<xs:sequence>
<xs:element name="cpf" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaResponse">
<xs:sequence>
<xs:element name="return" type="tns:pessoa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pessoa">
<xs:sequence>
<xs:element name="cpf" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>