src/wsdl/localhost_8080/ws.soap.cpf/WsSoapCpf.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="WsSoapCpf" targetNamespace="http://cpf.soap.ws/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cpf.soap.ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://cpf.soap.ws/" version="1.0" xmlns:tns="http://cpf.soap.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="consulta" type="tns:consulta"/>
<xs:element name="consultaResponse" type="tns:consultaResponse"/>
<xs:complexType name="consulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpf" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pessoa"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpf" type="xs:string"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="consulta">
    <wsdl:part element="tns:consulta" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaResponse">
    <wsdl:part element="tns:consultaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WsSoapCpf">
    <wsdl:operation name="consulta">
      <wsdl:input message="tns:consulta" name="consulta">
    </wsdl:input>
      <wsdl:output message="tns:consultaResponse" name="consultaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsSoapCpfSoapBinding" type="tns:WsSoapCpf">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consulta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consulta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsSoapCpf">
    <wsdl:port binding="tns:WsSoapCpfSoapBinding" name="WsSoapCpfPort">
      <soap:address location="http://localhost:8080/ws.soap.cpf/WsSoapCpf"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>